@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.hero-wrapper {
  background-image: url("/Mesh gradient 1.webp"), url("/Group 2358.webp");
  background-position: 100% 0,0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  width: 100vw;
}

.btn {
  @apply hover:scale-105;
}
